@import "~bootstrap/scss/bootstrap.scss";
input{border:none; outline: none; 
}
body{background-color:#f1f0f0 ;}
button{
    border: none;
    background-color: transparent;
    display: none;
}
.task:hover{
button{
       display: inline-block;
}
}
span{
    font-size: 12px;
}